.boton {
    background-color: #e8fa43; /* Amarillo soleado para botones */
    color: rgba(238, 62, 9, 0.849);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, padding 0.3s; /* Transición para padding también */
}

.boton:hover {
    background-color: #fa8490f8; /* Rojo apetitoso al pasar el ratón */
    color: white;
    padding: 6px 11px; /* Aumenta el padding al pasar el ratón */
}


  