<p>menu works!</p>

<div class="menu">
    <h2>Menú del Día</h2>
    <div class="dish">
        <h3>Pasta Primavera</h3>
        <p>Deliciosa pasta con verduras frescas y salsa de ajo.</p>
        <button class="button">Añadir al carrito</button>
    </div>
    <div class="dish">
        <h3>Ensalada César</h3>
        <p>Ensalada fresca con aderezo César y crutones.</p>
        <button class="button">Añadir al carrito</button>
    </div>
    </div>
    ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    <!-- dish.component.html -->
    <div class="dish">
    <img src="ruta/a/la/imagen.jpg" alt="Descripción del plato" class="dish-image">
    <h3>Nombre del Plato</h3>
    <p>Descripción del plato.</p>
    <button class="button">Añadir al carrito tttttt</button>
    </div>
    